.show
  .show-bar
    .show-bar__img
    .show-bar__user-info
      .show-bar__user-info__name Name
      .show-bar__user-info__email aaa@gmaol
    .show-bar__option
      .show-bar__option__profile プロフィールを編集
      .show-bar__option__setting icon