.header
  .header__box
    .header__box__title
      = link_to "Tripgram", root_path
    .header__box__first
      .header__box__first__text
      .header__box__first__search
    .header__box__second
      .header__box__second__post
      .header__box__second__user