.post-showbox
  .post-showbox__img
  .post-showbox__content
    .post-showbox__content__name 投稿者
    .post-showbox__content__text 綺麗だね！
    .post-showbox__content__like いいね１０件
    .post-showbox__content__box
      .post-showbox__content__box__comment
        .post-showbox__content__box__comment__name tarou
        .post-showbox__content__box__comment__text いいですね！