.post
  .post__showbox
    -#  = form_for @post do |f|
    .post__showbox__img
    .post__showbox__content
      .post__showbox__content__name 
        = "#{@user.nickname}"
      .post__showbox__content__text
        = "#{@post.content}"
      .post__showbox__content__like いいね１０件
      .post__showbox__content__box
        .post__showbox__content__box__comment
          .post__showbox__content__box__comment__name tarou
          .post__showbox__content__box__comment__text いいですね！