.card {
  background-color: lightgray;
  height: 400px;
  width: 800px;
  margin-top: 50px;
  margin-left: 25vw;
  text-align: center;
}

.card-header {
  font-size: 1.5rem;
}
.form-control-border-0 {
  width: 400px;
  height: 150px;
  margin-bottom: 30px;
}

.btn-btn-primary {
  width: 300px;
  height: 60px;
  background: rgb(0, 225, 255);
  color: white;
  margin-top: 50px;
}