.post {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  background-color: lightgray;
  margin-top: 50px;
}

.post__showbox {
  margin: 0 auto;
  width: 700px;
  height: 400px;
  display: flex;
  padding-top: 50px;
  
}

.post__showbox__img {
  width: 400px;
  height: 400px;
  background-color: blue;
}

.post__showbox__content {
  width: 300px;
  height: 400px;
}

.post__showbox__content__name {
  text-align: center;
  border-bottom: 1px solid black;
}

.post__showbox__content__text {
  height: 160px;
  border-bottom: 1px solid black;
}

.post__showbox__content__like {
  border-bottom: 1px solid black;
  text-align: center;
}